html {
    scroll-behavior: smooth;
}

body {
  padding-top: 100px;
}

.navbar {
  background: #353b48;
  margin: auto;
}

.nav > li {
  text-transform: uppercase;
  margin: 10px;
}

.nav > li > a {
  color: #999fa8 !important;
}

.nav > li > a:hover {
  color: #b8bdc4 !important;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.nav > li > a:active {
  color: #d9dde2 !important;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}


@media only screen and (max-width: 768px) {
  .nav > .nav-item-login {
    display: inline-block;
    float: none;
    text-align: center;
    width: 5rem;
    background: #4c6993;
    border-radius: 15px;
    padding: 0 10px;
  }

  .nav > .nav-item-login:hover {
    background: #3d577c;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
  }

  .nav > .nav-item-login:active {
    background: #304b72;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
  }

  .nav > .nav-item-login > a {
    color: #b8bdc4 !important;
  }
}

@media only screen and (min-width: 768px) {
  .nav > .nav-item-login {
    background: #4c6993;
    border-radius: 15px;
    padding: 0 10px;
  }

  .nav > .nav-item-login:hover {
    background: #3d577c;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
  }

  .nav > .nav-item-login:active {
    background: #304b72;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
  }

  .nav > .nav-item-login > a {
    color: #b8bdc4 !important;
  }
}



.site-header.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  background-color: #fff;
  padding: 2rem 0 2rem;
}

.site-header.jumbotron img {
  height: auto;
  width: 100%;
  padding: 0;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 400px;
  height: 300px;
  background-color: #7f8fa6;
  border-radius: 5px;
}

.product-device::before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 70%;
  left: 70%;
  content: "";
  background-color: #dcdde1;
  border-radius: 5px;
}

.product-stamp {
  position: absolute;
  top: 10%;
  right: 20.5%;
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 1px;
  -webkit-transform: rotate(30deg);
  transform: rotate(0deg);
}

.product-lines-1 {
  position: absolute;
  top: 10%;
  right: 7%;
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 15px;
  -webkit-transform: rotate(30deg);
  transform: rotate(0deg);
}

.product-lines-2 {
  position: absolute;
  top: 15%;
  right: 7%;
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 15px;
  -webkit-transform: rotate(30deg);
  transform: rotate(0deg);
}

.product-lines-3 {
  position: absolute;
  top: 20%;
  right: 7%;
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 15px;
  -webkit-transform: rotate(30deg);
  transform: rotate(0deg);
}

#border-top {
  border-top: 1px solid #34495e;
  position: absolute;
  left: 0%;
  right: 0%
}

#overview-section, #hardware-section, #design-section, #contact-section {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  padding-top: 80px;
}
#overview-section {
  background: white;
  padding-bottom: 5em;
}
#overview-section h1 {
  color: black;
  text-transform: uppercase;
}

#hardware-section, #design-section {
  background: #605f5f;
}

#hardware-section h1, #hardware-section h4, #design-section h1, #design-section h4 {
  color: #ecf0f1;
  text-transform: uppercase;
}

.overview-icon {
  color: #34495e;
  background: #bdc3c7;
  padding:50px;
  padding-top: 0.5em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}



#team-section .card {
    border: none;
    background: #ffffff;
}

#team-section .btn-primary:hover,
#team-section .btn-primary:focus {
    background-color: #487eb0;
    border-color: #487eb0;
    box-shadow: none;
    outline: none;
}

#team-section .btn-primary {
    color: #fff;
    background-color: #487eb0;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #487eb0 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #487eb0 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.icon_enlarge {
    transition: transform .2s;
}

.icon_enlarge:hover {
    transform:scale(1.5);
}

@media only screen and (max-width: 768px) {
  .site-header.jumbotron {
    padding: 5rem 0 5rem;
  }

  #team-section, #partners-section, #contact-section {
    margin: 4rem 2rem 4rem;
  }

  #hardware-section h4 {
    font-size: 1.2em;
  }
}
